body {
  margin: 0;
  font-family:
    "NVIDIA Sans",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "NVIDIA Sans";
  src:
    local("NVIDIA Sans"),
    url(./fonts/NVIDIASans_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "NVIDIA Sans Bold";
  src:
    local("NVIDIA Sans Bold"),
    url(./fonts/NVIDIASans_Bd.ttf) format("truetype");
}
